<section>

  <p>
    <label for="xcoord">x</label>
    <input id="xcoord" type="number" min="0" max="4" placeholder="0 - 4"
      {{on "change" (fn this.setPlaceLocation "x")}} />
  </p>
  <p>
    <label for="ycoord">y</label>
    <input id="ycoord" type="number" min="0" max="4" placeholder="0 - 4"
      {{on "change" (fn this.setPlaceLocation "y")}} />
  </p>

  <p>
    <label for="direction">facing direction</label>
    <select name="direction" id="direction" {{on "change" (fn this.setPlaceLocation "direction")}}>
      <option value="">Choose facing direction</option>
      <option value="1">north</option>
      <option value="2">east</option>
      <option value="3">south</option>
      <option value="4">west</option>
    </select>
  </p>

  <button type="button" data-test="add-robot" {{on "click" (fn @placeRobot this.initLocation)}}>add troy</button>

  <button type="button" data-test="move-robot" {{on "click" @move}}>move 1 space</button>

  <button type="button" data-test="turn-left" {{on "click" (fn @turn "left")}}>turn left</button>

  <button type="button" data-test="turn-right" {{on "click" (fn @turn "right")}}>turn right</button>

  <button type="button" data-test="show-report" {{on "click" @report}}>show report</button>

  {{#if @location.showReport}}
  <p>
    <span>x: {{@location.x}}</span>
    <span>y: {{@location.y}}</span>
    <span>
      direction:
      {{#if (eq @location.direction 1) }}NORTH{{/if}}
      {{#if (eq @location.direction 2) }}EAST{{/if}}
      {{#if (eq @location.direction 3) }}SOUTH{{/if}}
      {{#if (eq @location.direction 4) }}WEST{{/if}}
    </span>
  </p>
  {{/if}}
</section>

{{yield}}