<main>
  <header>
    <h1>Toy Robot Simulator</h1>
    <h2>Meet today's contestant: Troy</h2>
  </header>

  <div class="sim-wrapper">
    <Controls @placeRobot={{this.placeRobot}} @move={{this.move}} @turn={{this.turn}} @report={{this.report}} />
    <Table @location={{this.location}} @isPlaced={{this.isPlaced}} />
  </div>

  {{outlet}}
</main>